In [35]:
%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.pardir, os.pardir)))

In [ ]:
import pandas as pd
regions = pd.read_excel('data/regions.xlsx')
campaigns = pd.read_excel('data/campaigns.xlsx')
charities = pd.read_excel('data/charities.xlsx')
comments = pd.read_excel('data/comments.xlsx')
comment_likes = pd.read_excel('data/commentlikes.xlsx')
keywords = pd.read_excel('data/keywords.xlsx')
payments = pd.read_excel('data/payments.xlsx')

In [40]:
from models.SimpleModel import SimpleModel
user_id = 'adb65105-dc50-7be8-63a8-5ad39e1cf681'
date = '2024-06-03'
simple_model = SimpleModel(campaigns)
simple_model.get_list(date, user_id)

,id,hashtag,goal,collected,user_count,status,charity_id,help_receiver_count,link_open_event_count,published_at,finish_payment_id,title,description
51,7763,dom_dlya_starikov,55051,55051,286,5,29,2,8,2024-05-02 00:20:16.362,7009798.0,Обеспечим нуждающихся пенсионеров чистым бельё...,У большинства наших подопечных – одиноких пожи...
244,7773,help_chance,154100,154100,781,5,63,200,59,2024-05-02 10:39:44.651,7144353.0,Фонд «Ника» помогает приюту в Брянске закупить...,Приюты для бездомных животных являются единств...
465,7732,help_truntsov,155877,155877,420,5,16,1,21,2024-05-02 11:20:16.657,7015611.0,Мирону нужно дорогостоящее обследование донорс...,Мирон 6 лет живет на донорской почке. Из-за вы...
369,7739,savenkov,109859,109859,225,5,13,1,2,2024-05-02 21:20:16.813,7020467.0,"Чтобы преодолеть задержку в развитии, Арсению ...",У Арсения задержка психического развития с аут...
486,7714,koliaska_nastia,200000,200000,849,5,44,1,18,2024-05-02 21:20:28.138,7377926.0,"Насте нужна коляска, чтобы легко передвигаться...",Настя родилась в тяжелом состоянии. В 10 месяц...
295,7752,zavialova,172320,172880,462,5,144,1,10,2024-05-02 21:50:16.886,7004844.0,"Чтобы дышать, кушать и жить дома, Лизе нужно м...",Лиза весила 14 килограмм в 13 лет. Раньше завт...
739,7761,ismailov,66789,67289,241,5,37,1,31,2024-05-02 22:20:16.969,7000244.0,У Гусейна рак крови. Ему нужно исследование пе...,"Летом прошлого года у Гусейн почувствовал, что..."
318,7781,detisiroti_78,97927,98227,351,5,102,1,4,2024-05-02 22:20:25.456,7000236.0,Тимур – сирота. Он нуждается в сопровождении з...,Тимур попал из Дома ребенка на лечение в больн...
793,7774,help_alisa,132124,132724,185,5,110,1,35,2024-05-02 22:20:25.778,7000250.0,"Алисе требуется специальное лекарство, чтобы п...",Алисе 10 лет. Несколько месяцев назад она пост...
797,7775,children_gifts10,58918,59568,220,5,110,35,10,2024-05-02 22:20:26.109,7002870.0,Давайте организуем праздник с подарками для де...,В онкологическом реабилитационном отделении пр...

In [51]:
#payments.groupby(['user_id'])['id'].count().reset_index(name='id').sort_values(['id'])
payments[payments.user_id==user_id].sort_values(['finished_at'], ascending=True).head(10)
# session id (date + user_id), campaign_id, 
# функция генерирует сессию, строим отсортированная выдачу, 
#session_id campaign_id position_id conv
#date + user_id 12 0
#date + user_id 13 1
#date + user_id 14 0

,id,amount,finished_at,campaign_id,user_id,by_link,method,app_version,device_type,sent_from,by_push
1520,6989633,100,2024-05-01 10:43:13.765,7746,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1521,6989634,100,2024-05-01 10:43:22.010,7738,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1522,6989635,100,2024-05-01 10:43:32.334,7765,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1523,6989636,100,2024-05-01 10:43:41.207,7766,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1524,6989637,100,2024-05-01 10:43:50.886,7751,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1525,6989638,100,2024-05-01 10:44:00.597,7736,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1526,6989639,100,2024-05-01 10:44:08.133,7712,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1527,6989640,100,2024-05-01 10:44:17.316,7722,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1528,6989641,100,2024-05-01 10:44:26.371,7734,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False
1529,6989642,100,2024-05-01 10:44:38.170,6245,adb65105-dc50-7be8-63a8-5ad39e1cf681,False,card,5.63.2,ios,card,False